<div class="page-container">
    <app-sidebar class="sidebar-left"></app-sidebar>

    <div class="content-right">
        <div class="user-management-container">
            <h2>Category Management</h2>
            <div class="add-btn-container">
                <button class="btn btn-edit" (click)="openAddCategory()">
                    <span class="material-symbols-outlined">add</span> Add Category
                </button>
            </div>

            <div class="user-table">
                <table>
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Type</th>
                            <th>Status</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let category of categories">
                            <td>{{ category.id }}</td>
                            <td>{{ category.type }}</td>
                            <td>
                                <p *ngIf="!category.accepted">Pending</p>
                                <p *ngIf="category.accepted">Accepted</p>
                            </td>
                            <td class="actions">
                                <button class="btn btn-delete" (click)="confirmdelete(category.id)">
                                    <span class="material-symbols-outlined">delete</span> Delete
                                </button>

                                <div *ngIf="selectedCategoryId === category.id" class="confirmation-dialog">
                                    <div class="dialog-content">
                                        <h3>Confirm Deletion</h3>
                                        <p>Are you sure you want to delete this category? This action cannot be undone.
                                        </p>
                                        <div class="dialog-actions">
                                            <button class="btn btn-cancel" (click)="canceldelete()">Cancel</button>
                                            <button class="btn btn-confirm" (click)="deleteCategory()">Confirm</button>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>